/* States */
.completed {
  text-decoration: line-through;
  color: red;
}

.filtered {
  display: none;
}

/* Global element styles */
.btn {
  cursor: pointer;
}

.App {
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid var(--overlay-text-color);
  background: var(--container-bg-color);
}

.todo-list {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
}

.todo-list h2 {
  font-size: 1.6rem;
  font-weight: bold;
}

.todo-list-container {
  list-style-type: decimal;
}

.todo {
  font-size: 1rem;
  margin: 5px 10px;
}

/* .todo:nth-child(2n) {
  background: var(--light-primary-color);
} */


